@use "../scss/" as *;

.category-card-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  @include breakpoint(xl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}
