@use "../scss/" as *;

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .section-title {
    margin-bottom: 0;
  }
  .button-secondary {
    @include breakpoint(sm) {
      padding: 20px;
    }
  }
}
