@use "../scss/" as *;

.more-recipe {
  padding-top: 160px;
}

.more-recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  .section-title {
    max-width: 520px;
  }
  .section-text {
    max-width: 620px;
    // margin-left: auto;
    margin-right: 0;
  }
  @include breakpoint(xl) {
    flex-direction: column;
    text-align: center;
    .section-text {
      margin-inline: auto;
      // text-align: center;
    }
  }
}

.more-recipe-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 80px;
  .more-card {
    padding: 0;
    background-image: none;
    .heart {
      top: 10px;
      right: 10px;
    }
    .recipe__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
    }
  }
  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  @include breakpoint(sm) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
