@use "../../scss/" as *;

.blog-search {
  margin-top: 80px;
  text-align: center;
}

.search-form {
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 17px;
  overflow: hidden;
  padding: 10px;
  @include breakpoint(sm) {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    overflow: visible;
  }
}

.search-input {
  padding: 20px;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  min-width: 520px;
  @include breakpoint(md) {
    min-width: 300px;
  }
  @include breakpoint(sm) {
    width: 100%;
    min-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 10px;
  }
}

.search-button {
  background: #000000;
  border-radius: 16px;
  color: white;
  border: none;
  padding: 20px 60px;
  display: inline-block;
}
