@use "../../../scss/" as *;

.category-card {
  background-image: linear-gradient(to top, $primary-color, rgba(0, 0, 0, 0) 50%);
  padding: 30px 40px;
  border-radius: 30px;
  &:first-child {
    background-image: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
  }
  &:nth-child(2) {
    background-image: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
    .category-card__img {
      filter: drop-shadow(10px 10px 5px rgba(0, 171, 68, 0.2));
    }
  }
  &:nth-child(3) {
    background-image: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
    .category-card__img {
      filter: drop-shadow(10px 10px 5px rgba(255, 11, 11, 0.2));
    }
  }
  &:nth-child(4) {
    background-image: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
    .category-card__img {
      filter: drop-shadow(10px 10px 5px rgba(255, 175, 4, 0.2));
    }
  }
  &:nth-child(5) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    .category-card__img {
      filter: drop-shadow(10px 10px 5px rgba(255, 175, 4, 0.2));
    }
  }
  &:nth-child(6) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    .category-card__img {
      filter: drop-shadow(10px 10px 5px rgba(255, 29, 4, 0.2));
    }
  }
  @include breakpoint(lg) {
    padding: 20px;
  }
}

.category-card__img {
  margin-bottom: 50px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

.category__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
