@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&display=swap");

// Colors
$primary-color: rgba(231, 250, 254, 1);
$text-title: rgba(0, 0, 0, 1);
$text-body: rgba(0, 0, 0, 0.6);

// Fonts
$font-body: "Inter", sans-serif;
$font-logo: "Lobster", cursive;
